<%- partial('microformats/article', { post: page }) %>

<article class="container post">

  <section class="hero">
    <div class="muted">
      <%- list_categories(page.categories, {
        show_count: false,
        style: 'none',
        separator: ' > '
      }) %>
    </div>
    <h1><%= page.title %></h1>
    <div class="muted">
      <span title="Last time this post was updated">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        Last updated
        <time datetime="<%= date_xml(page.updated) %>" itemprop="dateUpdated"><%= date(page.updated, 'MMMM Do YYYY') %></time>
      </span>

      <% if(parseInt(page.pageviews__total, 10) > 100){ %>
        <span class="m-x-2" title="Pageviews">
          <i class="fa fa-eye" aria-hidden="true"></i>
          <%- fnumber(page.pageviews__total) %>
        </span>
      <% } %>

      <span class="m-x-2" title="Click to go to the comments section">
        <a href="#disqus_thread">
          <i class="fa fa-comment-o" aria-hidden="true"></i>
          <span class="disqus-comment-count" data-disqus-url="<%- config.url %><%- url_for(page.path) %>">0</span>
        </a>
      </span>

      <% if (page.tags && page.tags.length){ %>
        <span>
          <%- list_tags(page.tags) %>
        </span>
      <% } %>
    </div>
  </section>

  <div class="art-container" style="background-color: <%- page.photos__background_color %>">
    <% if(page.photos && page.photos[1]){ %>
      <picture>
        <source media="(min-width: 728px)" srcset="<%- page.photos[1] %>">
        <source srcset="<%- page.photos[0] %>">
        <img src="<%- page.photos[1] %>" alt="<%= page.title %>">
      </picture>
    <% } %>
  </div>

  <div class="row">
    <section class="col-sm-8 p-x-2">

      <div class="post-content <% if(page.toc) { %> toc-content <% } %>">
        <%- page.content %>
      </div>

      <!-- after post -->
      <div>
        <h3>Now, your turn!</h3>
        Thanks for reading this far. Here are some things you can do next:
        <ul>
          <li>Comment what you like the most or ask questions in the
            <a href="#comments-section">comments section</a>
            below.
          </li>
          <li>Improve this post by editing it
            <a href="https://github.com/amejiarosario/amejiarosario.github.io/edit/source/source/_posts<%= page.full_source.split('_posts')[1] %>">
              here</a>.
          </li>
          <li>
            Many of my articles involve months of preparation, consider donating:
            <!-- <a target="_blank" href="http://paypal.me/amejiarosario">Paypal</a>, -->
            <a target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=HZLFWQAFENN7W&source=url">Paypal</a>,
            <a target="_blank" href="https://bitaps.com/3A8xanut3wddz1jJ7JWSw8nwwpUahLJpZi">Bitcoin</a>,
            <a target="_blank" href="https://www.patreon.com/amejiarosario">Patreon</a>.
          </li>
        </ul>
      </div>

      <!-- Next and previous posts -->
      <% if (page.prev || page.next){ %>
        <div class="article-nav m-y-4">
          <% if (page.prev){ %>
            <a href="<%- url_for(page.prev.path) %>" class="article-nav-newer" class="article-nav-link-wrap">
              <strong class="article-nav-caption"><i class="fa fa-chevron-left"></i> <%= __('newer') %></strong>
              <div class="article-nav-title">
                <% if (page.prev.title){ %>
                  <%= page.prev.title %>
                <% } else { %>
                  (no title)
                <% } %>
              </div>
            </a>
          <% } %>
          <% if (page.next){ %>
            <a href="<%- url_for(page.next.path) %>" class="article-nav-older" class="article-nav-link-wrap">
              <strong class="article-nav-caption"><%= __('older') %> <i class="fa fa-chevron-right"></i></strong>
              <div class="article-nav-title"><%= page.next.title %></div>
            </a>
          <% } %>
        </div>
      <% } %>

      <% if(page.layout !== 'snippet') { %>

        <!-- Related -->
        <footer>
          <!-- subscribe -->
          <div class="m-y-4">
            <%- partial('_widgets/subscribe') %>
          </div>

          <!-- Adrian Mejia Bio -->
          <%- partial('_widgets/bio') %>

          <div class="m-y-4">
            <% related(page, site).forEach(function(post, i, posts){ %>
              <% if(i === 0) { %>
                <div class="container">
                <h1 class="capitalize"><%- post.tutorialTag.replace(/(_|-)/g, ' ') %> Series</h1>
                <div class="row">
              <% } %>

              <!-- <ol> -->
              <%- partial('_partials/post-thumbnail', { post: post, klass: 'col-md-6 col-sm-6 card' }) %>
              <!-- </ol> -->

              <% if(i === posts.length - 1) { %>
              </div><!-- .row -->
              </div><!-- .container -->
              <% } %>
            <% }) %>
          </div>

          <!-- 726x88 -->
          <!--<%// partial('_widgets/adsense', {ad: {client: '9725767907287651', slot: '2343826126'}}) %>-->
          <!--<script data-cfasync="false" type="text/javascript" src="(DISABLED)//www.eboundservices.com/ads/728x90_non_responsive.js"></script>-->
<!--           <div class="hidden-mobile-down">
            <script data-cfasync="false" type="text/javascript" src="(DISABLED)//www.eboundservices.com/ads/728x90_responsive.js"></script>
          </div> -->
          <!--<script data-cfasync="false" type="text/javascript" src="//www.eboundservices.com/ads/336x280_responsive.js"></script>-->


          <!-- last working ads -->
          <!-- <script data-cfasync="false" type="text/javascript" src="//www.eboundservices.com/ads/dfp/336x280_responsive.js"></script> -->


        </footer>

      <% } %><!-- if(page.layout !== 'snippet') -->
    </section>

    <!-- Asides (Ads, TOC, ...) -->
    <aside class="col-sm-4 p-x-2 col-xs-order-1">
      <section>

        <!-- 300x250 -->
        <!--<%// partial('_widgets/adsense', {ad: {style: 'display:inline-block;width:300px;height:250px', client: '9725767907287651', slot: '6894900521'}}) %>-->
        <!--<script data-cfasync="false" type="text/javascript" src="//www.eboundservices.com/ads/300x250_non_responsive.js"></script>-->
        <!--<div class="hidden-mobile-down">-->
          <!--<script data-cfasync="false" type="text/javascript" src="//www.eboundservices.com/ads/300x250_responsive.js"></script>-->
        <!--</div>-->

        <!--<div class="hidden-mobile-up">-->
        <!--<script data-cfasync="false" type="text/javascript" src="//www.eboundservices.com/ads/336x280_responsive.js"></script>-->
        <!--</div>-->

        <!-- last working ads -->
        <!-- <script data-cfasync="false" type="text/javascript" src="//www.eboundservices.com/ads/dfp/336x280_responsive.js"></script> -->

      </section>

      <section class="sticky-element--start">
        <div class="muted">
          <div class="p-y-1">
            <a href="#" class=""><span id="back-to-top" title="Go back to the top of this page">
              <i class="fa fa-arrow-up"></i> Top
            </span></a>

            <a href="#" class="p-x-3" title="Improve this post" onclick="track('https://github.com/amejiarosario/amejiarosario.github.io/edit/source/source/_posts<%= page.full_source.split('_posts')[1] %>')">
              <i class="fa fa-pencil"></i> Edit this post
            </a>
            <!-- <a href="#" title="Share this post"><i class="fa fa-share"></i> Share</a> -->
            <!--<div class="p-y-1">-->
              <!--<%// partial('_widgets/facebook_share') %>-->
              <!--<%// partial('_widgets/twitter_share', {twitter: {url: page.bitly || page.permalink, text: `Check out ${page.title}!` }}) %>-->
              <!--<%// partial('_widgets/googleplus_share') %>-->
              <!--<%// partial('_widgets/linkedin_share') %>-->
            <!--</div>-->
          </div>

          <% if(page.toc) { %>
            <h3 class="toc-title">Contents</h3>
            <%- toc(page.content) %>

            <!-- 300x600 -->
            <!--<%// partial('_widgets/adsense', {ad: {client: '9725767907287651', slot: '2343826126', style: 'display:inline-block;width:300px;height:600px;'}}) %>-->
            <!--<script data-cfasync="false" type="text/javascript" src="(DISABLED)//www.eboundservices.com/ads/300x600_non_responsive.js"></script>-->
            <div class="hidden-mobile-down">
              <!-- last working ads -->
              <!-- <script data-cfasync="false" type="text/javascript" src="//www.eboundservices.com/ads/dfp/160x600_responsive.js"></script> -->
            </div>
          <% } %>
        </div>
      </section>
    </aside>
  </div>

  <!-- comments -->
  <a id="comments-section"></a>
  <footer class="row sticky-element--end">
    <div class="col-xs-12">
      <%- partial('_widgets/disqus') %>
    </div>
  </footer>
</article>
